# stuff to set up a virtual environment
venv

# exclude everything from models folder
rasa/models/*

# you can get this by running rasa visualize
graph.html 

# except for .gitkeep, so that the folder itself is included
rasa/!models/.gitkeep